.hero {
  background: linear-gradient(180deg, #e3f3dd, #e1ffea22 60%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 150px;
  line-height: 1.2;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 48px;
  font-weight: 700;
}

.order-now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 280px;
  height: 65px;
  border-radius: 50px;
  margin-top: 20px;
  color: #fff;
  background: #ff4141;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.order-now-btn:hover {
  transform: scale(1.05);
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.hero-right img {
  width: 90%;
  max-width: 500px;
  border-radius: 20%;
  overflow: hidden;
  object-fit: cover;
}

@media only screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-left {
    padding: 0 20px;
    text-align: center;
  }

  .hero-left h2 {
    font-size: 22px;
  }

  .hero-left p {
    font-size: 40px;
  }

  .order-now-btn {
    width: 250px;
    height: 60px;
    margin-top: 15px;
  }

  .hero-right img {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    display: block;
    padding: 10px;
  }

  .hero-left {
    padding: 0;
    padding-top: 30px;
  }

  .hero-left h2 {
    font-size: 18px;
  }

  .hero-left p {
    font-size: 28px;
  }

  .order-now-btn {
    width: 200px;
    height: 50px;
    margin-top: 10px;
  }

  .hero-right img {
    width: 100%;
    max-width: 300px;
  }
}
