.hero{
    
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 52px;
    font-weight: 700;
}
.order-now-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px;
    color: #fff;
    background: #ff4141;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.hero-right img{
    border-radius: 20%;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .hero {
    display: block;
  }
  .hero-left{
    padding-left: 10px;
    padding-top: 50px;
  }
  .hero-left h2{
    font-size: 20px;
  }
  .hero-left p{
    font-size: 36px;
  }
  .order-now-btn{
    margin-top: 0px;
    width: 220px;
  }
}